body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

h1,
h2,
h3,
p {
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.card-hover {
  margin: 1rem;
  border-radius: 0.7rem;
  width: 360px;
  height: 500px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
}
.card-hover:has(.card-hover__link:hover) .card-hover__extra {
  transform: translateY(0);
  transition: transform 0.35s;
}
.card-hover:hover .card-hover__content {
  background-color: #5986A0;
  bottom: 100%;
  transform: translateY(100%);
  padding: 50px 60px;
  transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}
.card-hover:hover .card-hover__link {
  opacity: 1;
  transform: translate(-50%, 0);
  transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}
.card-hover:hover img {
  transform: scale(1);
  transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}
.card-hover__content {
  width: 100%;
  text-align: center;
  background-color: #AEC4D0;
  padding: 0 60px 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(0);
  transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
  will-change: bottom, background-color, transform, padding;
  z-index: 1;
}
.card-hover__content::before,
.card-hover__content::after {
  content: "";
  width: 100%;
  height: 120px;
  background-color: inherit;
  position: absolute;
  left: 0;
  z-index: -1;
}
.card-hover__content::before {
  top: -80px;
  clip-path: ellipse(60% 80px at bottom center);
}
.card-hover__content::after {
  bottom: -80px;
  clip-path: ellipse(60% 80px at top center);
}
.card-hover__title {
  font-size: 1.5rem;
  margin-bottom: 1em;
}
.card-hover__title span {
  color: #192A36;
}
.card-hover__text {
  font-size: 0.75rem;
}
.card-hover__link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 10%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: #192A36;
  opacity: 0;
  padding: 10px;
  transition: all 0.35s;
}
.card-hover__link:hover svg {
  transform: translateX(4px);
}
.card-hover__link svg {
  width: 18px;
  margin-left: 4px;
  transition: transform 0.3s;
}
.card-hover__extra {
  height: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  background-color: #AEC4D0;
  padding: 80px;
  bottom: 0;
  z-index: 0;
  color: #192A36;
  transform: translateY(100%);
  will-change: transform;
  transition: transform 0.35s;
}
.card-hover__extra span {
  color: #192A36;
}
.card-hover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  transform: scale(1.2);
  transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.home-testimonial {
  background-color: #192A36;
  height: 380px;
}
.home-testimonial-bottom {
  background-color: #f8f8f8;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
  height: 130px;
  top: 190px;
}
.home-testimonial h3 {
  color: var(--orange);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.home-testimonial h2 {
  color: white;
  font-size: 28px;
  font-weight: 700;
}
.testimonial-inner {
  position: relative;
  top: -174px;
}
.testimonial-pos {
  position: relative;
  top: 24px;
}
.testimonial-inner .tour-desc {
  border-radius: 5px;
  padding: 40px;
}
.color-grey-3 {
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  color: #192A36;
}
.testimonial-inner img.tm-people {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: none;
}
.link-name {
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  color: #192A36;
}
.link-position {
  font-family: "Poppins", Sans-serif;
  font-size: 12px;
  color: #192A36;
}
.choose-us div {
  width: 23rem;
  height: 15rem;
}

.choose-us-card {
  border: 0.3rem solid #192A36;
  border-radius: 0.8rem;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */
.fixed-button {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 3rem; /* Adjust the distance from the bottom as needed */
  right: 4rem; /* Adjust the distance from the right as needed */
  z-index: 9999; /* Ensures the button appears on top of other elements */
}

.fixed-button button {
  cursor: pointer;
  margin: 0.5rem;
  padding: 0%;
  transition: 0.1s ease-in;
  background-color: transparent;
  border: none;
  height: 3rem;
  width: auto;
}

.fixed-button button:hover {
  height: 3.5rem;
  width: auto;
}

.fixed-button button img {
  height: 100%;
  width: auto;
}

li {
  font-family: 'Poppins', sans-serif;
}

.heading {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.heading-container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.heading-container span {
  flex-grow: 1;
  border-bottom: 0.2rem solid #192A36;
  margin-left: 10px; /* Adjust the spacing between the heading and the line */
}

.carousel-caption {
  /* height: 40%; */
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent(0, 0, 0, 0.5); /* Customize the background color and transparency as desired */
  color: #fff; /* Customize the text color as desired */
  padding: 2rem;
}

.carousel-caption h2 {
  color: aliceblue; font-size: 3rem !important;
}

.carousel-caption p {
  color: aliceblue; font-size: 1.4rem !important;
}

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Quicksand&display=swap');

* {
	margin: 0;
	padding: 0;
}

/* body {
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
} */

/* h2 {
	font-family: 'Bree Serif', serif;
	padding: 0 1rem;
	font-size: 2rem;
	margin-bottom: 1.5rem;
} */

.testimonials-container {
	padding: 0 40px;
	margin: 30px 0 50px;
	position: relative;
	background-color: white;
	display: flex;
	flex-direction: column;
}

.testimonials {
	display: flex;
	justify-content: space-evenly;
	align-items: space-evenly;
}

.testimonials-container h2 {
	padding: 10px 10px 15px;
	text-align: center;
	width: 100%;
	margin: 0 auto 30px;
}

.testimonial {
	width: 25%;
	border-radius: 20px;
	background: linear-gradient(to right bottom, #fabf8f60, #ffc0a660, #ffc4bc60, #ffcbcf60, #f7d3dd60);
	padding: 20px;
	position: relative;
	margin-bottom: 20px;
}

.testimonial:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -15px;
  right: 50px;
  width: 0;
  border-width: 15px 20px 0;
  border-style: solid;
  border-color: #F7D3DD60 transparent;
}
/* dsd */
.testimonial h3 {
	margin-bottom: 10px;
}

.testimonial p {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}

.testimonal-author {
	font-size: 1rem;
	position: absolute;
	bottom: -40px;
	right: 0;
}

@media all AND (max-width: 700px) {
	
	.testimonials {
    flex-direction: column;
		align-items: center;
	}

	.testimonial {
		width: 90%;
		margin-bottom: 60px;
	}

}
@media screen and (max-width: 1000px) {
  .carousel-caption {
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent(0, 0, 0, 0.5); /* Customize the background color and transparency as desired */
    color: #fff; /* Customize the text color as desired */
    padding: 2rem;
  }
  .carousel-caption h2{
    font-size: 1rem !important;
  }
  .carousel-caption p {
    font-size: 0.8rem !important;
  }
}

body::-webkit-scrollbar {
  width: 8px;
}